{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  {% if errors %}
  	<div class="alert alert-danger">
      {{ errors }}
    </div>
  {% endif %}

	<div class="container py-5" style="width: 350px">
      <form action="{% url 'register' %}" method="post">
        {% csrf_token %}

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ник пользователя">
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ваш Email">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="password1" type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password confirmation</label>
          <input name="password2" type="password" class="form-control" id="exampleInputPassword1" placeholder="Подтверждение пароля">
        </div>

        <div class="mb-3">
          <label class="form-label">Last name</label>
          <input name="last_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Фамилия">
        </div>

        <div class="mb-3">
          <label class="form-label">First name</label>
          <input name="first_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Имя">
        </div>

        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
      </form>
  </div>
{% endblock %}