{% extends "base.html" %}
{% load static %}

{% block title %}
	Notices
{% endblock %}

{% block content %}

<div class='container'>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Объявления кафедралов</h1>
    {% if user.is_member %}
      <div class="pricing-header pb-md-4 mx-auto text-center">
        <a href="{% url 'create' %}" class="btn btn-outline-success px-4 me-md-2">Создать объявление</a>
      </div>
    {% endif %}
  </div>

  {% if notices|length > 0 %}
    {% for notice in notices %}
      <div class="alert alert-info">
        <h4>
          <a class="text-dark text-decoration-none" href="{% url 'notice' notice.uuid %}">{{ notice.message }}</a>
        </h4>
        <p class="card-text my-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="me-2" viewBox="0 0 16 16">
            <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
          </svg>
          {{ notice.created_at }}
        </p>

        <p class="card-text my-3">Автор:
          <a class="text-dark text-decoration-none" href="{% url 'user_notices' notice.user.username %}">{{ notice.user }}</a>
        </p>
      </div>
    {% endfor %}
  {% else %}
    <p>Объявлений пока нет 😉.</p>
  {% endif %}

</div>
{% endblock %}