{% extends "base.html" %}

{% block title %}
	Profile
{% endblock %}

{% block content %}
  <div class='container'>

    <div class="text-center">
      <h2 class="display-5 link-body-emphasis mb-4">Ваш профиль, {{ user.first_name }} {{ user.middle_name }}</h2>
      <a href="{% url 'profile-update' %}" class="btn btn-outline-primary">Редактировать</a>
    </div>
    <hr>

    {#  Photo  #}
    {% if user.photo %}
      <div class="d-flex justify-content-center">
        <img style="max-height: 150px;" src="{{ user.photo.url }}">
      </div>
    {% endif %}

    <div class="alert alert-info">
      <div class="row">
        <div class="col">
          <div class="alert alert-light" role="alert">
            {{ user.last_name }}
          </div>
        </div>
        <div class="col">
          <div class="alert alert-light" role="alert">
            {{ user.first_name }}
          </div>
        </div>
        <div class="col">
          <div class="alert alert-light" role="alert">
            {{ user.middle_name }}
          </div>
        </div>
        <div class="col">
          <div class="alert alert-light" role="alert">
            {{ user.birthday }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="alert alert-light" role="alert">
            На кафедре с {{ reception_date }}
          </div>
        </div>
        <div class="col">
          <div class="alert alert-light" role="alert">
            {{ user.email }}
          </div>
        </div>
        <div class="col">
          <div class="alert alert-light" role="alert">
            {{ user.phone }}
          </div>
        </div>
        <div class="col">
          <div class="alert alert-light" role="alert">
            {{ user.address }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="alert alert-light" role="alert">
            {{ user.description | safe | linebreaks }}
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="alert alert-info">
      <div class="row">
        <div class="col">
          <label class="form-label">Должность</label>
          <div class="alert alert-light" role="alert">
            {{ titles.get_job_title_display }}
          </div>
        </div>
        <div class="col">
          <label class="form-label">Степень</label>
          <div class="alert alert-light" role="alert">
            {{ titles.get_academic_degree_display }}
          </div>
        </div>
        <div class="col">
          <label class="form-label">Звание</label>
          <div class="alert alert-light" role="alert">
            {{ titles.get_academic_title_display }}
          </div>
        </div>
        <div class="col">
          <label class="form-label">Дата изменений</label>
          <div class="alert alert-light" role="alert">
            {{ titles.assignment_date }}
          </div>
        </div>
        <div class="col text-center">
          <div class="row">
            <a href="{% url 'titles-history' %}" class="btn btn-outline-primary">История</a>
            <a href="{% url 'titles-update' %}" class="btn btn-outline-primary">Редактировать текущий</a>
            <a href="{% url 'titles-create' %}" class="btn btn-outline-primary">Создать</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <p><b>Nickname: {{ user.username }}</b></p>

  </div>
{% endblock %}
