{% extends "base.html" %}

{% block title %}
	Create titles
{% endblock %}

{% block content %}
  <div class='container'>

	<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Вы можете дополнить сведения о Вас</h1>
    </div>

    <form action="{% url 'titles-create' %}" method="post" enctype="multipart/form-data">

      {% csrf_token %}

      <div class="row">
        <div class="col p-2">
          <label for="exampleFormControlInput1" class="form-label">Должность</label>
          <select name="job_title" class="form-select" id="exampleFormControlInput1" aria-label="Пример выбора по умолчанию">
            <option selected>-</option>
            {% for t in titles.JobTitle.choices %}
              <option>{{ t.1 }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col p-2">
          <label for="exampleFormControlInput1" class="form-label">Степень</label>
          <select name="academic_degree" class="form-select" id="exampleFormControlInput1" aria-label="Пример выбора по умолчанию">
            <option selected>-</option>
            {% for t in titles.AcademicDegree.choices %}
              <option>{{ t.1 }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col p-2">
          <label for="exampleFormControlInput1" class="form-label">Звание</label>
          <select name="academic_title" class="form-select" id="exampleFormControlInput1" aria-label="Пример выбора по умолчанию">
            <option selected>-</option>
            {% for t in titles.AcademicTitle.choices %}
              <option>{{ t.1 }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col p-2">
          <label for="startDate" class="form-label">Дата изменений</label>
          <input name="assignment_date" type="date" class="form-control" id="startDate" value="{{ titles.assignment_date|date:'Y-m-d' }}">
        </div>
      </div>

      <button type="submit" class="btn btn-outline-primary">Сохранить</button>

    </form>

  </div>
{% endblock %}
