{% extends "base.html" %}

{% block title %}
	About application
{% endblock %}

{% block content %}
<div class='container'>
	<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Немного о приложении</h1>
      <p class="fs-5 text-body-secondary">Приложение посвящено распределению учебной нагрузки между преподавателями кафедры.</p>
      <p class="fs-5 text-body-secondary">Преподавателям дано добро на редактирования своих персональных данных и информации о себе.</p>
      <p class="fs-5 text-body-secondary">Сторонние посетители имеют возможность только просмотра состава кафедры и ознакомиться с краткими сведениями о преподавателях.</p>
      <p class="fs-5 text-body-secondary">Зарегистрированные пользователи также имеют доступ к дополнительным возможностям, которые пока не определены.</p>
      <p class="fs-5 text-body-secondary"><i><u>При создании приложения использованы:</u></i></p>
      <p class="fs-5 text-body-secondary">фреймворк <i>Django</i> и, вероятно, что-то ещё.</p>
    </div>
</div>
{% endblock %}
